<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
        <div class="centered">
            <h1>URL Shortener</h1>
        </div>

        <div class="centered">
            <form action="/" method="post">
                <input type="text" id="input" name="url" value="{{ if ne .ShortenUrl nil }}http://localhost:4500/r/{{.ShortenUrl}}{{end}}" {{ if ne .ShortenUrl nil }}disabled{{ end }}>
                
                {{ if eq .ShortenUrl nil }}
                    <button type="submit">Create</button>
                {{ else }}
                    <button type="button" data-copy-element="#input" data-copy-prop="value">Copy</button>
                {{ end }}
            </form>
        </div>
    
    </main>

    <script src="/static/js/script.js"></script>
</body>
</html>